BAZINGA_app/bin/*
BAZINGA_app/src_gen/*

/latex/*-blx.bib
/latex/*.aux
/latex/*.bbl
/latex/*.blg
/latex/*.fdb_latexmk
/latex/*.lof
/latex/*.lol
/latex/*.log
/latex/*.mp
/latex/*.out
/latex/*.pdf
/latex/*.pyg
/latex/*.tmp
/latex/*.toc
/latex/*.top
/latex/*.tui
/latex/*.tuo
/latex/*.run.xml
/latex/*.synctex.gz

