<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Acceleo Plug-in Application (Default)"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/BAZINGA_app/model/Zoo.ecore"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/BAZINGA_app/src_gen"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.bazinga.Model/src/org/bazinga/Model/files/GenerateHello.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.bazinga.Model.files.GenerateHello"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;C:/Users/dominik/Documents/se3/BAZINGA_app/model/Zoo.ecore&quot; &quot;C:/Users/dominik/Documents/se3/BAZINGA_app/src_gen&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.bazinga.Model"/>
</launchConfiguration>
